<!DOCTYPE html>
<html>
<head>
<title>Student Finance Assistant</title>

<style>
body{
font-family: Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);
text-align:center;
padding-top:100px;
}

.container{
background:white;
width:400px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

h1{
color:#333;
}

button{
width:200px;
padding:12px;
margin:10px;
border:none;
border-radius:5px;
background:#4facfe;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#0077ff;
}
</style>

</head>

<body>

<div class="container">

<h1>Student Finance Assistant</h1>

<a href="/add_income">
<button>Add Income</button>
</a>

<br>

<a href="/add_expense">
<button>Add Expense</button>
</a>

<br>

<a href="/report">
<button>View Report</button>
<a href="/clear">
<button style="background:red;">Clear All Records</button>
</a>
</a>

</div>

</body>
</html>